:root {
}

.header {
    font-size: 60px;
    -unity-text-align: upper-center;
}

.button {
    font-size: 30px;
    -unity-text-align: middle-center;
    width: 220px;
    height: 75px;
    align-self: center;
    align-content: auto;
}
